#navlinks {
    color : #ffffff;
    font-family: Sans-serif;
    font-size : 17px;
    transition : color 0.3s;
    transition-timing-function: ease-out;
}

#navlinks:hover {
    color : #ea8ffc;
}

#navlogo_text {
    color : #ededed;
    font-family: sans-serif;
    font-weight: 400;
}

.bg-translucent {
    background-color: rgba(255, 255, 255, 0.05); 
    backdrop-filter: blur(10px);
}

#body{
    background-color: #000000;
    font-family: "Poppins", 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#event_front{
    color: #ffffff;
    display: flex;
    height: 90vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#welcome_text{
    font-size: 1.5em;  
    letter-spacing: 5px;
    margin-bottom: 4%;
    margin-top: -2%;
    text-align: center; 
    padding: 20px;
}

#event_text{
    padding: 20px;
    color: rgb(250, 250, 250);
    font-size: 8em;
    letter-spacing: 5px;
    margin-top: -5%;
}

#event_des{
    font-size: 1.4em;
    padding: 5px;
    margin-left: 20%;
    margin-right: 20%;
    text-align: center;
}
@media (max-width: 600px){
    #event_text{
        font-size: 6em;
    }
    #event_des{
        font-size: 1.2em;
    }
    #welcome_text{
        margin-top: -40%;
        font-size: 1.3em;
    }
}

.card {
    position: relative;
    width: 272px;
    height: 362px;
    background-color: #000000 !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 12px;
    gap: 12px;
    border-radius: 8px;
    cursor: pointer;
    color: rgb(255, 255, 255);
    margin: 6%;
    background-size: cover; 
    background-position: center;
    padding: 20px;
    background-image: linear-gradient(rgba(0,0,0,0.1),#000);
}
  
.card::before {
content: '';
position: absolute;
inset: 0;
left: -5px;
margin: auto;
width: 280px;
height: 370px;
border-radius: 10px;
background: linear-gradient(-45deg, #e81cff 0%, #40c9ff 100% );
z-index: -10;
pointer-events: none;
transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card::after {
content: "";
z-index: -1;
position: absolute;
inset: 0;
background: linear-gradient(-45deg, #fc00ff 0%, #00dbde 100% );
transform: translate3d(0, 0, 0) scale(0.95);
filter: blur(20px);
}

.heading {
font-size: 1.6em;
text-transform: capitalize;
font-weight: 700;
}

.card p:not(.heading) {
font-size: 14px;
}

.card p:last-child {
color: #d10be7;
font-weight: 600;
}

.card:hover::after {
filter: blur(30px);
}

.card:hover::before {
transform: rotate(-90deg) scaleX(1.34) scaleY(0.77);
}

#gevent_card{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;   
    padding: 20px;
    flex-wrap: wrap;   
}

#ge_card1{
    background-image: linear-gradient(rgba(0,0,0,0.1),#000), url('../static/images/robot.jpg');   
}
#ge_card2{
    background-image: linear-gradient(rgba(0,0,0,0.1),#000), url('../static/images/robot.jpg');    
}
#ge_card3{
    background-image: linear-gradient(rgba(0,0,0,0.1),#000), url('../static/images/robot.jpg');    
}
#ge_card4{
    background-image: linear-gradient(rgba(0,0,0,0.1),#000), url('../static/images/robot.jpg');   
}
#ge_card5{
    background-image: linear-gradient(rgba(0,0,0,0.1),#000), url('../static/images/robot.jpg');    
}
#ge_card6{
    background-image: linear-gradient(rgba(0,0,0,0.1),#000), url('../static/images/robot.jpg');    
}
#ge_card7{
  background-image: linear-gradient(rgba(0,0,0,0.1),#000), url('../static/images/robot.jpg');    
}
#ge_card8{
  background-image: linear-gradient(rgba(0,0,0,0.1),#000), url('../static/images/robot.jpg');    
}
#ge_card9{
  background-image: linear-gradient(rgba(0,0,0,0.1),#000), url('../static/images/robot.jpg');    
}
#ge_card10{
  background-image: linear-gradient(rgba(0,0,0,0.1),#000), url('../static/images/robot.jpg');    
}

#de_card1{
    background-image: linear-gradient(rgba(0,0,0,0.1),#000), url('../static/images/codewar.webp');
}
#de_card2{
    background-image: linear-gradient(rgba(0,0,0,0.1),#000), url('../static/images/background.png');
}
#de_card3{
    background-image: linear-gradient(rgba(0,0,0,0.1),#000), url('../static/images/background.png');
}
#de_card4{
    background-image: linear-gradient(rgba(0,0,0,0.1),#000), url('../static/images/background.png');
}
#de_card5{
    background-image: linear-gradient(rgba(0,0,0,0.1),#000), url('../static/images/background.png');
}
#de_card6{
    background-image: linear-gradient(rgba(0,0,0,0.1),#000), url('../static/images/background.png');
}
#de_card7{
  background-image: linear-gradient(rgba(0,0,0,0.1),#000), url('../static/images/background.png');
}
#de_card8{
  background-image: linear-gradient(rgba(0,0,0,0.1),#000), url('../static/images/background.png');
}
#de_card9{
  background-image: linear-gradient(rgba(0,0,0,0.1),#000), url('../static/images/background.png');
}
#de_card10{
  background-image: linear-gradient(rgba(0,0,0,0.1),#000), url('../static/images/background.png');
}

#es_card1{
  background-image: linear-gradient(rgba(0,0,0,0.1),#000), url('../static/eventsimage/mlbb.jpg');
}
#es_card2{
  background-image: linear-gradient(rgba(0,0,0,0.1),#000), url('../static/eventsimage/bgmi.png');
}
#es_card3{
  background-image: linear-gradient(rgba(0,0,0,0.1),#000), url('../static/eventsimage/fifa.png');
}
#es_card4{
  background-image: linear-gradient(rgba(0,0,0,0.1),#000), url('../static/eventsimage/dota.png');
}




.tab{
    cursor: pointer; 
    padding: 10px; 
}

#tabs{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 3% 12% -3% 8%;
}
.tab-content { display: none; }
.active { display: block; }

.eventpage_video{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
}

.boton-elegante {
  padding: 15px 30px;
  border: 2px solid #5b5b5b;
  background-color: #0e0e0e;
  color: #ffffff;
  font-size: 1.2rem;
  cursor: pointer;
  border-radius: 30px;
  transition: all 0.4s ease;
  outline: none;
  position: relative;
  overflow: hidden;
  font-weight: bold;
}

.boton-elegante::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(
    circle,
    rgba(139, 158, 141, 0.067) 0%,
    rgba(255, 255, 255, 0) 70%
  );
  transform: scale(0);
  transition: transform 0.5s ease;
}

.boton-elegante:hover::after {
  transform: scale(4);
}

.boton-elegante:hover {
  border-color: #cbcbcb;
  background: #292929;
}

/* Global styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  /* Popup container styles */
  .popup-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Dark overlay background */
    display: none;
    z-index: 1000; /* Ensure popup is above other content */
    
  }
  
  /* Popup window styles */
  .popup-window {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    max-width: 800px;
    background-color: #000;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: 1001; /* Ensure popup window is above the overlay */
    color: #fff;
    background-image: url("../static/images/popupimg.jpg");
    background-size: cover;
  }
  
  /* Close button styles */
  .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 18px;
    cursor: pointer;
    background: none;
    border: none;
    outline: none;
    color: #fff;
  }
  
  /* Content area styles */
  .content-area {
    max-height: 600px;
    overflow-y: auto;
    padding: 20px;
  }
  
  /* Event details styles */
  .event-details {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .event-details img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
  }
  
  .event-details .event-info {
    width: calc(100% - 220px);
    padding: 20px;
  }
  
  .event-details .event-info h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .event-details .event-info p {
    font-size: 18px;
    margin-bottom: 20px;
  }
  
  /* View details button styles */
  .view-details-button {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .view-details-button:hover {
    background-color: #3e8e41;
  }

 .view-details-button {
    position: relative;
    padding: 10px 20px;
    border-radius: 7px;
    border: 1px solid rgb(61, 106, 255);
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
    background: rgba(82, 82, 82, 0.4);
    color: #fff;
    overflow: hidden;
    box-shadow: 0 0 0 0 transparent;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
  }
  
  .view-details-button:hover {
    background: rgb(127, 17, 223);
    box-shadow: 0 0 30px 5px rgba(0, 142, 236, 0.815);
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
  }
  
  .view-details-button:hover::before {
    -webkit-animation: sh02 0.5s 0s linear;
    -moz-animation: sh02 0.5s 0s linear;
    animation: sh02 0.5s 0s linear;
  }
  
  .view-details-button::before {
    content: '';
    display: block;
    width: 0px;
    height: 86%;
    position: absolute;
    top: 7%;
    left: 0%;
    opacity: 0;
    background: #fff;
    box-shadow: 0 0 50px 30px #fff;
    -webkit-transform: skewX(-20deg);
    -moz-transform: skewX(-20deg);
    -ms-transform: skewX(-20deg);
    -o-transform: skewX(-20deg);
    transform: skewX(-20deg);
  }
  
  @keyframes sh02 {
    from {
      opacity: 0;
      left: 0%;
    }
  
    50% {
      opacity: 1;
    }
  
    to {
      opacity: 0;
      left: 100%;
    }
  }
  
  .view-details-button:active {
    box-shadow: 0 0 0 0 transparent;
    -webkit-transition: box-shadow 0.2s ease-in;
    -moz-transition: box-shadow 0.2s ease-in;
    transition: box-shadow 0.2s ease-in;
  }

  .button-link {
    background-color: #086ebc;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .button-link:hover {
    background-color: #2b47d4;
    color: #ffffff;
  }

  .gallery {
    column-count: 4;
    column-gap: 10px;
    padding: 10px;
}

.gallery-item {
    break-inside: avoid;
    margin-bottom: 10px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.gallery-item img {
    width: 100%;
    height: auto;
    display: block;
    transition: transform 0.3s ease;
}

.gallery-item:hover img {
    transform: scale(1.05);
}

/* Responsive layout */
@media (max-width: 1200px) {
    .gallery {
        column-count: 3;
    }
}

@media (max-width: 900px) {
    .gallery {
        column-count: 2;
    }
}

@media (max-width: 600px) {
    .gallery {
        column-count: 1;
    }
}
#gallheader{
display: flex;
align-items: center;
gap: 10px;
margin-top: 2%;
margin-bottom: 1.05%;
justify-content: center;
}
#galleryheader{
font-size: 2em;
font-weight: 700;
color: white;
text-align: center;
}
#galleryheader em {
background: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent; 
}
#svgimg {
    width: 50px; /* Adjust size as needed */
    height: 50px; /* Adjust size as needed */
    margin-top: -0.7%;
}

#navbartoggler{
    background-image: url("../static/images/icons8-menu-bar.svg");
}

.card2 {
  position: relative;
  width: 270px;
  height: 362px;
  background-color: #000000 !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 12px;
  gap: 12px;
  border-radius: 8px;
  cursor: pointer;
  color: rgb(255, 255, 255);
  margin: 6%;
  background-size: cover; 
  background-position: center;
  padding: 20px;
  background-image: linear-gradient(rgba(0,0,0,0.1),#000);
}

.card2::before {
content: '';
position: absolute;
inset: 0;
left: -3px;
margin: auto;
width: 276px;
height: 367px;
border-radius: 10px;
/* background: linear-gradient(-45deg,  #005DBB 0%, #17C969 100% ); */
z-index: -10;
pointer-events: none;
transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.cardgrad1::before{
  background: linear-gradient(-45deg, #1BA774 0%, #48B768 100%);
}

.cardgrad2::before{
  background: linear-gradient(-45deg, #A20BD8 0%, #FF4040 100%);
}

.cardgrad3::before{
  background: linear-gradient(-45deg, #DA0E64 0%, #E65F6E 100%);
}
#contactcards{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;   
  padding: 20px;
  flex-wrap: wrap;
}
#contact_header{
  margin-top: 6%;
  /* background-color: pink; */
  font-size: 1.6em;
  font-weight: 200; 
}
.button_contact {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  border-radius: 100%;
  border: none;
  background-color: #30C04F;
  
  margin: 0% 0% 15% 38%;
}

.button_contact:hover {
  background-color: #2bac47;
}
#contact_card1{
  font-size: 1.4em;
}
#contact_phone{
  text-align: center;
}
#contact_number{
  text-align: center;
  margin: 0%;
}
#instagram_icon{
  background-color: #000000;
  margin: 0% 0% 65% 38%;
}
#insta_icon{
  width: 75px; /* Set the desired width */
  height: 75px; /* Set the desired height */
  background-color: #000000;
}
#contact_insta{
  text-align: center;
  font-size: 1.4em;
  color: #ffffff;
  margin-top:20% ;
}
#contact_instatag{
  text-align: center;
  font-size: 1.4em;
  color: #ffffff;
  
}
.contact_gmail{
  text-align: center;
  font-size: 1.4em;
}

.contact_gmail1{
  text-align: center;
  font-size: 1.25em;
}

#gmail_icon{
  width: 64px; /* Set the desired width */
  height: 64px; /* Set the desired height */
  background-color: #000000;
}
#instalink{
  text-decoration: none;
}

#contentcontact {
  display: flex; /* Enable flexbox */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
}

#button_con {
  border: 1px solid #1BA774;
}

.contact_headers{
  color: whitesmoke;
}
.footer {
  width: 100%;
  padding: 20px 0;
  text-align: center;
  position: relative;
  bottom: 0;
}

.footer p {
  margin: 0;
  color: #e5e7eb;
  font-family: Arial, sans-serif;
  font-size: 1.1em;
}
