{% extends "layout.html" %}

{% block body %}
<style>
    body {
        background-image: url("../static/eventsimage/eventbackground.png");
        background-size: cover;
    }
</style>
<div id="event_front">
    <div>
        <video src="../static/video/video1.mp4" class="eventpage_video" autoplay loop muted></video>
    </div>

    <p id="welcome_text">WELCOME TO TECHAURA 2024</p>
    <h1 id="event_text"> EVENTS </h1>
    <p id="event_des"> Experience a vibrant tech fest featuring exhilarating games,
        robots, thrilling competitions, and a display of innovations and talent!
    </p>
</div>

<div id="event_card">
    <div id="tabs">
        <div class="tab" data-target="general">
            <button class="boton-elegante">General Events</button>
        </div>
        <div class="tab" data-target="departmental">
            <button class="boton-elegante">Departmental Events</button>
        </div>
        <div class="tab" data-target="esports">
            <button class="boton-elegante">Esports</button>
        </div>
    </div>


    <div id="content">
        <!-- The popup window container -->
        <div id="popup-container" class="popup-container">
            <!-- The popup window itself -->
            <div class="popup-window">
                <!-- Close button -->
                <button class="close-button">&times;</button>
                <!-- Content area -->
                <div class="content-area">
                </div>
            </div>
        </div>


        <div id="general" class="tab-content">
            <div id="gevent_card">
                <div class="card" id="ge_card1">
                    <p class="heading">Mr. & Miss Techaura</p>
                    <!-- <p>Some description about the event, we can also attach the rules to a link</p> -->
                    <p>Registration Fee : <em>₹500</em></p>
                    <p>Prize: <em>₹15000</em>
                        And Hampers from <em>Blue Curves</em>
                    </p>
                    <button class="view-details-button" data-event="gevent1">View Details</button>
                </div>
                <div class="card" id="ge_card2">
                    <p class="heading">Voice of Techaura</p>
                    <p>Registration Fee : <em>₹500</em></p>
                    <p>Prize: <em>₹15000</em></p>
                    <button class="view-details-button" data-event="gevent2">View Details</button>
                </div>
                <div class="card" id="ge_card3">
                    <p class="heading">Battle of Bands</p>
                    <p>Registration Fee : <em>₹1000</em></p>
                    <p>Prize: <em>₹25000</em></p>
                    <button class="view-details-button" data-event="gevent3">View Details</button>
                </div>
                <div class="card" id="ge_card4">
                    <p class="heading">Model Presentation</p>
                    <p>Registration Fee : <em>₹100</em></p>
                    <p>Winner: <em>₹3,500/-</em> Runner-Up: <em>₹1,500/-</em></p>
                    <button class="view-details-button" data-event="gevent4">View Details</button>
                </div>
                <div class="card" id="ge_card5">
                    <p class="heading">Painting</p>
                    <p>Registration Fee : <em>₹200</em></p>
                    <p>Winner: <em>₹3,500/-</em> Runner-Up: <em>₹1,500/-</em></p>
                    <button class="view-details-button" data-event="gevent5">View Details</button>
                </div>
                <div class="card" id="ge_card6">
                    <p class="heading">Photography</p>
                    <p>Registration Fee : <em>₹200</em></p>
                    <p>Winner: <em>₹3,000/-</em> Runner-Up: <em>₹1,000/-</em></p>
                    <button class="view-details-button" data-event="gevent6">View Details</button>
                </div>
                <div class="card" id="ge_card7">
                    <p class="heading">Mental Math</p>
                    <p>Registration Fee : <em>₹100</em></p>
                    <p>Winner: <em>₹3,500/-</em> Runner-Up: <em>₹1,500/-</em></p>
                    <button class="view-details-button" data-event="gevent7">View Details</button>
                </div>
                <div class="card" id="ge_card8">
                    <p class="heading">Spelling Bee</p>
                    <p>Registration Fee : <em>₹100</em></p>
                    <p>Winner: <em>₹3,500/-</em> Runner-Up: <em>₹1,500/-</em></p>
                    <button class="view-details-button" data-event="gevent8">View Details</button>
                </div>
                <div class="card" id="ge_card9">
                    <p class="heading">Truss Bridge</p>
                    <p>Registration Fee : <em>₹200</em></p>
                    <p>Winner: <em>₹3,500/-</em> Runner-Up: <em>₹1,500/-</em></p>
                    <button class="view-details-button" data-event="gevent9">View Details</button>
                </div>
                <div class="card" id="ge_card10">
                    <p class="heading">Recycle Fashion</p>
                    <p>Registration Fee : <em>₹200</em></p>
                    <p>Winner: <em>₹3,500/-</em> Runner-Up: <em>₹1,500/-</em></p>
                    <button class="view-details-button" data-event="gevent10">View Details</button>
                </div>
            </div>
        </div>
        <div id="departmental" class="tab-content">
            <div id="gevent_card">
                <div class="card" id="de_card1">
                    <p class="heading">DIY Gun Making</p>
                    <p>Registration Fee : <em>₹100</em></p>
                    <p>Winner: <em>₹2,500/-</em> Runner-Up: <em>₹1,500/-</em></p>
                    <button class="view-details-button" data-event="devent1">View Details</button>
                    
                </div>
                <div class="card" id="de_card2">
                    <p class="heading">Bio Lab</p>
                    <p>Registration Fee : <em>₹100</em></p>
                    <p>Winner: <em>₹2,500/-</em> Runner-Up: <em>₹1,500/-</em></p>
                    <button class="view-details-button" data-event="devent2">View Details</button>
                </div>
                <div class="card" id="de_card3">
                    <p class="heading">Code Wars</p>
                    <p>Registration Fee : <em>₹100</em></p>
                    <p>Winner: <em>₹2,500/-</em> Runner-Up: <em>₹1,500/-</em></p>
                    <button class="view-details-button" data-event="devent3">View Details</button>
                   
                </div>
                <div class="card" id="de_card4">
                    <p class="heading">Mud Race</p>
                    <p>Registration Fee : <em>₹100</em></p>
                    <p>Winner: <em>₹4,500/-</em> Runner-Up: <em>₹2,500/-</em></p>
                    <button class="view-details-button" data-event="devent4">View Details</button>
                </div>
                <div class="card" id="de_card5">
                    <p class="heading">PPT Presentation</p>
                    <p>Registration Fee : <em>₹100</em></p>
                    <p>Winner: <em>₹2,500/-</em> Runner-Up: <em>₹1,500/-</em></p>
                    <button class="view-details-button" data-event="devent5">View Details</button>
                </div>
            </div>
        </div>


        <div id="esports" class="tab-content">
            <div id="gevent_card">
                <div class="card" id="es_card1">
                    <p class="heading">MLBB</p>
                    <p>Registration Fee : <em>₹1000</em></p>
                    <p>Prize Pool : <em>₹20000</em> And Hampers from Variety Merchandise</p>
                    <button class="view-details-button" data-event="esevent1">View Details</button>
                </div>
            </div>
        </div>



    </div>
</div>

{% endblock %}