{% extends "layout.html" %}

{% block body %}
    <div id="event_front">
        <p id="welcome_text">WELCOME TO TECHAURA 2024</p>
        <h1 id="event_text"> EVENTS </h1>
        <p id="event_des"> Experience a vibrant tech fest featuring exhilarating games,
             robots, thrilling competitions, and a display of innovations and talent!  
        </p>
    </div>

    <div id="event_card">
        <div id="tabs">
            <div class="tab" data-target="general">General Events</div>
            <div class="tab" data-target="departmental">Departmental Events</div>
        </div>

        <div id="content">
            <div id="general" class="tab-content">
                <div id="gevent_card">
                    <div class="card" id="ge_card1">
                        <p class="heading">general</p>
                        <p>Powered By</p>
                        <p>Uiverse</p>
                    </div>
                    <div class="card" id="ge_card2">
                        <p class="heading">general</p>
                        <p>Powered By</p>
                        <p>Uiverse</p>
                    </div>
                    <div class="card" id="ge_card3">
                        <p class="heading">general</p>
                        <p>Powered By</p>
                        <p>Uiverse</p>
                    </div>
                    <div class="card" id="ge_card4">
                        <p class="heading">general</p>
                        <p>Powered By</p>
                        <p>Uiverse</p>
                    </div>
                    <div class="card" id="ge_card5">
                        <p class="heading">general</p>
                        <p>Powered By</p>
                        <p>Uiverse</p>
                    </div>
                    <div class="card" id="ge_card6">
                        <p class="heading">general</p>
                        <p>Powered By</p>
                        <p>Uiverse</p>
                    </div>
                </div>  
            </div>
            <div id="departmental" class="tab-content">
                <div id="gevent_card">
                    <div class="card" id="de_card1">
                        <p class="heading">departmental</p>
                        <p>Powered By</p>
                        <p>Uiverse</p>
                    </div>
                    <div class="card" id="de_card2">
                        <p class="heading">departmental</p>
                        <p>Powered By</p>
                        <p>Uiverse</p>
                    </div> 
                    <div class="card" id="de_card2">
                        <p class="heading">departmental</p>
                        <p>Powered By</p>
                        <p>Uiverse</p>
                    </div>
                    <div class="card" id="de_card4">
                        <p class="heading">departmental</p>
                        <p>Powered By</p>
                        <p>Uiverse</p>
                    </div>
                    <div class="card" id="de_card5">
                        <p class="heading">departmental</p>
                        <p>Powered By</p>
                        <p>Uiverse</p>
                    </div> 
                    <div class="card" id="de_card6">
                        <p class="heading">departmental</p>
                        <p>Powered By</p>
                        <p>Uiverse</p>
                    </div>    
                </div>    
            </div>
        </div>
    </div>
    

{% endblock %}