{% extends "layout.html" %}

{% block body %}
<style>
    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        background-image: url("../static/eventsimage/gallwallpaper.png");
        background-size: cover;
    }

</style>
    <div id="gallheader">
        <h2 id="galleryheader"><em>Glimpses</em> of past</h2>
        <img id="svgimg" src="../static/images/camera.png" alt="camera icon">
    </div>


    <div class="gallery">
        <div class="gallery-item"><img src="../static/images/gallimgs/gaimg (1).JPG" alt="Image 1" loading="lazy"></div>
        <div class="gallery-item"><img src="../static/images/gallimgs/gaimg (2).JPG" alt="Image 2" loading="lazy"></div>
        <div class="gallery-item"><img src="../static/images/gallimgs/gaimg (3).JPG" alt="Image 3" loading="lazy"></div>
        <div class="gallery-item"><img src="../static/images/gallimgs/gaimg (4).JPG" alt="Image 4" loading="lazy"></div>
        <div class="gallery-item"><img src="../static/images/gallimgs/gaimg (5).JPG" alt="Image 5" loading="lazy"></div>
        <div class="gallery-item"><img src="../static/images/gallimgs/gaimg (6).JPG" alt="Image 6" loading="lazy"></div>
        <div class="gallery-item"><img src="../static/images/gallimgs/gaimg (7).JPG" alt="Image 7" loading="lazy"></div>
        <div class="gallery-item"><img src="../static/images/gallimgs/gaimg (8).JPG" alt="Image 8" loading="lazy"></div>
        <div class="gallery-item"><img src="../static/images/gallimgs/gaimg (9).JPG" alt="Image 9" loading="lazy"></div>
        <div class="gallery-item"><img src="../static/images/gallimgs/gaimg (10).JPG" alt="Image 10" loading="lazy"></div>
        <div class="gallery-item"><img src="../static/images/gallimgs/gaimg (11).JPG" alt="Image 11" loading="lazy"></div>
        <div class="gallery-item"><img src="../static/images/gallimgs/gaimg (12).JPG" alt="Image 12" loading="lazy"></div>
        <div class="gallery-item"><img src="../static/images/gallimgs/gaimg (13).JPG" alt="Image 13" loading="lazy"></div>
        <div class="gallery-item"><img src="../static/images/gallimgs/gaimg (14).JPG" alt="Image 14" loading="lazy"></div>
        <div class="gallery-item"><img src="../static/images/gallimgs/gaimg (15).JPG" alt="Image 15" loading="lazy"></div>
        <div class="gallery-item"><img src="../static/images/gallimgs/gaimg (16).JPG" alt="Image 16" loading="lazy"></div>
        <div class="gallery-item"><img src="../static/images/gallimgs/gaimg (17).JPG" alt="Image 17" loading="lazy"></div>
        <div class="gallery-item"><img src="../static/images/gallimgs/gaimg (19).JPG" alt="Image 19" loading="lazy"></div>
        <div class="gallery-item"><img src="../static/images/gallimgs/gaimg (20).JPG" alt="Image 20" loading="lazy"></div>
        <div class="gallery-item"><img src="../static/images/gallimgs/gaimg (21).JPG" alt="Image 21" loading="lazy"></div>
        <div class="gallery-item"><img src="../static/images/gallimgs/gaimg (22).JPG" alt="Image 22" loading="lazy"></div>
        <div class="gallery-item"><img src="../static/images/gallimgs/gaimg (23).JPG" alt="Image 23" loading="lazy"></div>
        <div class="gallery-item"><img src="../static/images/gallimgs/gaimg (24).JPG" alt="Image 24" loading="lazy"></div>
        <div class="gallery-item"><img src="../static/images/gallimgs/gaimg (25).JPG" alt="Image 25" loading="lazy"></div>
        <div class="gallery-item"><img src="../static/images/gallimgs/gaimg (26).JPG" alt="Image 26" loading="lazy"></div>
        <div class="gallery-item"><img src="../static/images/gallimgs/gaimg (27).JPG" alt="Image 27" loading="lazy"></div>
        <div class="gallery-item"><img src="../static/images/gallimgs/gaimg (28).JPG" alt="Image 28" loading="lazy"></div>
        <div class="gallery-item"><img src="../static/images/gallimgs/gaimg (29).JPG" alt="Image 29" loading="lazy"></div>
        <div class="gallery-item"><img src="../static/images/gallimgs/gaimg (30).JPG" alt="Image 30" loading="lazy"></div>
        <div class="gallery-item"><img src="../static/images/gallimgs/gaimg (31).JPG" alt="Image 31" loading="lazy"></div>
        <div class="gallery-item"><img src="../static/images/gallimgs/gaimg (32).JPG" alt="Image 32" loading="lazy"></div>
        <div class="gallery-item"><img src="../static/images/gallimgs/gaimg (33).JPG" alt="Image 33" loading="lazy"></div>
        <div class="gallery-item"><img src="../static/images/gallimgs/gaimg (34).JPG" alt="Image 34" loading="lazy"></div>
        <div class="gallery-item"><img src="../static/images/gallimgs/gaimg (35).JPG" alt="Image 35" loading="lazy"></div>
        <div class="gallery-item"><img src="../static/images/gallimgs/gaimg (36).JPG" alt="Image 36" loading="lazy"></div>
        <div class="gallery-item"><img src="../static/images/gallimgs/gaimg (37).JPG" alt="Image 37" loading="lazy"></div>
        <div class="gallery-item"><img src="../static/images/gallimgs/gaimg (38).JPG" alt="Image 38" loading="lazy"></div>
        <div class="gallery-item"><img src="../static/images/gallimgs/gaimg (39).JPG" alt="Image 39" loading="lazy"></div>
        <div class="gallery-item"><img src="../static/images/gallimgs/gaimg (40).JPG" alt="Image 30" loading="lazy"></div>
        <div class="gallery-item"><img src="../static/images/gallimgs/gaimg (41).JPG" alt="Image 41" loading="lazy"></div>
        <div class="gallery-item"><img src="../static/images/gallimgs/gaimg (42).JPG" alt="Image 42" loading="lazy"></div>
        <div class="gallery-item"><img src="../static/images/gallimgs/gaimg (43).JPG" alt="Image 43" loading="lazy"></div>
        <div class="gallery-item"><img src="../static/images/gallimgs/gaimg (44).JPG" alt="Image 44" loading="lazy"></div>
        <div class="gallery-item"><img src="../static/images/gallimgs/gaimg (45).JPG" alt="Image 45" loading="lazy"></div>
        <div class="gallery-item"><img src="../static/images/gallimgs/gaimg (46).JPG" alt="Image 46" loading="lazy"></div>
        <div class="gallery-item"><img src="../static/images/gallimgs/gaimg (47).JPG" alt="Image 47" loading="lazy"></div>
        <div class="gallery-item"><img src="../static/images/gallimgs/gaimg (48).JPG" alt="Image 48" loading="lazy"></div>
        <div class="gallery-item"><img src="../static/images/gallimgs/gaimg (49).JPG" alt="Image 49" loading="lazy"></div>
        <div class="gallery-item"><img src="../static/images/gallimgs/gaimg (50).JPG" alt="Image 50" loading="lazy"></div>
        <div class="gallery-item"><img src="../static/images/gallimgs/gaimg (51).JPG" alt="Image 51" loading="lazy"></div>
        <div class="gallery-item"><img src="../static/images/gallimgs/gaimg (52).JPG" alt="Image 52" loading="lazy"></div>
    </div>
{% endblock %}