{% extends "layout.html" %}

{% block body %}
<style>
    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        background-image: url("../static/eventsimage/gallwallpaper.png");
        background-size: cover;
    }

</style>
    <div id="gallheader">
        <h2 id="galleryheader"><em>Glimpses</em> of past</h2>
        <img id="svgimg" src="../static/images/camera.png" alt="camera icon">
    </div>


    <div class="gallery">
        <div class="gallery-item"><img src="https://picsum.photos/300/200?random=1" alt="Image 1"></div>
        <div class="gallery-item"><img src="https://picsum.photos/200?random=2" alt="Image 2"></div>
        <div class="gallery-item"><img src="https://picsum.photos/300/200?random=3" alt="Image 3"></div>
        <div class="gallery-item"><img src="https://picsum.photos/300/200?random=4" alt="Image 4"></div>
        <div class="gallery-item"><img src="https://picsum.photos/300/200?random=5" alt="Image 5"></div>
        <div class="gallery-item"><img src="https://picsum.photos/200?random=6" alt="Image 6"></div>
        <div class="gallery-item"><img src="https://picsum.photos/200?random=7" alt="Image 7"></div>
        <div class="gallery-item"><img src="https://picsum.photos/300/200?random=8" alt="Image 8"></div>
        <div class="gallery-item"><img src="https://picsum.photos/300?random=9" alt="Image 9"></div>
        <div class="gallery-item"><img src="https://picsum.photos/150?random=10" alt="Image 10"></div>
        <div class="gallery-item"><img src="https://picsum.photos/200?random=11" alt="Image 11"></div>
        <div class="gallery-item"><img src="https://picsum.photos/300?random=12" alt="Image 12"></div>
        <div class="gallery-item"><img src="https://picsum.photos/300/200?random=13" alt="Image 13"></div>
        <div class="gallery-item"><img src="https://picsum.photos/300/200?random=14" alt="Image 14"></div>
        <div class="gallery-item"><img src="https://picsum.photos/300/200?random=15" alt="Image 15"></div>
        <div class="gallery-item"><img src="https://picsum.photos/200?random=16" alt="Image 16"></div>
        <div class="gallery-item"><img src="https://picsum.photos/150?random=17" alt="Image 17"></div>
        <div class="gallery-item"><img src="https://picsum.photos/150?random=18" alt="Image 18"></div>
        <div class="gallery-item"><img src="https://picsum.photos/200?random=19" alt="Image 19"></div>
        <div class="gallery-item"><img src="https://picsum.photos/300/200?random=20" alt="Image 20"></div>
    </div>
{% endblock %}