{% extends "layout.html" %}

{% block body %}
    <!-- <div>
        <video src="../static/video/video2.mp4" class="eventpage_video" autoplay loop muted></video>
    </div> -->

	<div class="parent">    
		<video src="../static/video/video2.mp4" class="eventpage_video" autoplay loop muted></video>

		<div class="main_glow">
			<span class="glowing">T</span>
			<span class="glowing">E</span>
			<span class="glowing">C</span>
			<span class="glowing">H</span>
			<span class="glowing">A</span>
			<span class="glowing">U</span>
			<span class="glowing">R</span>
			<span class="glowing">A</span>
			<span class="glowing">2</span>
			<span class="glowing">0</span>
			<span class="glowing">2</span>
			<span class="glowing">4</span>
		</div> 
	</div>
	
{% endblock %}